<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title data-i18n="auth_redirect.title">Authenticating...</title>
</head>
<body>
    <form id="authForm" action="{{ post_url }}" method="post">
        <input type="hidden" name="magic" value="{{ magic }}" />
        <input type="hidden" name="username" value="{{ username }}" />
        <input type="hidden" name="password" value="{{ password }}" />
    </form>
    <p data-i18n="auth_redirect.authenticating_message">Authenticating, please wait...</p>
    <script>
        document.getElementById('authForm').submit();
    </script>
    <hr>
    <p data-i18n="auth_redirect.credentials_title">Your login credentials are:</p>
    <ul>
        <li><strong data-i18n="auth_redirect.username">Username:</strong> {{ username }}</li>
        <li><strong data-i18n="auth_redirect.password">Password:</strong> {{ password }}</li>
    </ul>
    <p data-i18n="auth_redirect.keep_secure_message">Please keep this information secure.</p>
    <!-- Footer Section -->
    <div class="footer">
        <p>
            Powered by:
            <a href="https://www.rbtecnologia.com" target="_blank">
                <img src="{{ url_for('static', filename='images/developer_logo.png') }}" alt="Developer Logo" class="footer-img">
            </a>
        </p>
    </div>

</body>
</html>
