<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Captive Portal Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Main Logo at the top -->
    <div class="logo-container">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Main Logo" class="logo-img">
    </div>

    <h1>Guest Access Request</h1>
    
    <form action="/submit" method="post">
        <label for="name">Your Name:</label>
        <input type="text" name="name" required />

        <label for="email">Your Email:</label>
        <input type="email" name="email" required />

        <label for="sponsor_email">Sponsor's Email:</label>
        <input type="email" name="sponsor_email" required />

        <button type="submit">Submit</button>
    </form>

    <!-- Developer Logo and footer at the bottom -->
    <div class="footer">
        <a href="https://www.rbtecnologia.com" target="_blank">
            <img src="{{ url_for('static', filename='images/developer_logo.png') }}" alt="Developer Logo" class="footer-img">
        </a>
        <p>
            <a href="https://www.rbtecnologia.com" target="_blank">Powered by RB Captive - www.rbtecnologia.com</a>
        </p>
    </div>
</body>
</html>
