<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title data-i18n="standby.approval_pending">Approval Pending</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        const POLLING_INTERVAL = 5000;

        function checkApprovalStatus() {
            fetch('/check_status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ request_id: '{{ request_id }}' })
            })
            .then(response => response.json())
            .then(data => {
                if (data.approved) {
                    window.location.href = '/authenticate?request_id={{ request_id }}';
                } else {
                    setTimeout(checkApprovalStatus, POLLING_INTERVAL);
                }
            })
            .catch(error => console.error('Error:', error));
        }

        window.onload = function() {
            checkApprovalStatus();
        };
    </script>
</head>
<body>
    <h1 data-i18n="standby.approval_pending">Your request is pending approval.</h1>
    <p data-i18n="standby.wait_message">Please wait while we contact your sponsor for approval.</p>
    <!-- Footer Section -->
    <div class="footer">
        <p>
            Powered by:
            <a href="https://www.rbtecnologia.com" target="_blank">
                <img src="{{ url_for('static', filename='images/developer_logo.png') }}" alt="Developer Logo" class="footer-img">
            </a>
        </p>
    </div>
</body>
</html>
